@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
    
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.container{
  padding: 0 12px;
}

.font-exo{
  font-family: "Exo", serif;
}

